/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: gray;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.genero {
  display: flex;
  flex-wrap: wrap;
 
}
body {
  background-color: black;
}

h1 {
  color: gray;
}
